<%= form_with(model: [post, comment]) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメントを入力して下さい", class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= f.submit "コメントする", class: "btn btn-info" %>
  </div>
<% end %>