<table class="table table-bordered table-condensed">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 200px">日付</th>
      <th scope="col">予算</th>
      <th scope="col">売上</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= managemant.result_date.to_s %></th>
      <td style="width:250px"><%= managemant.budget %></td>
      <td style="width:250px"><%= managemant.result %></td>
    </tr>
  </tbody>
</table>