<table class="table table-bordered table-condensed">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 200px">日付</th>
      <th scope="col">予算</th>
      <th scope="col">売上</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% managemants.each do |managemant| %>
    <tbody>
      <tr>
        <td><%= managemant.result_date %></td>
        <td style="width:230px"><%= managemant.budget %></td>
        <td style="width:230px"><%= managemant.result %></td>
        <td style="width:50px">
          <% if managemant.user == current_user %>
            <p>
              <%= link_to managemant_path(managemant), method: :delete do %>
                <i class="fa fa-trash fa-lg"></i>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>