<h3>数値一覧</h3>
<table class="table table-bordered table-condensed">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 200px">日付</th>
      <th scope="col">予算</th>
      <th scope="col">売上</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= manegemant.result_date.to_s %></th>
      <td><%= manegemant.budget %></td>
      <td><%= manegemant.result %></td>
    </tr>
  </tbody>
</table>