<% provide(:title, "About") %>
<h1>About</h1>
<div class="container">
  <div class="content-wrapper" style="padding:20px;">
    <p>GOOW Ver1.0をご利用いただきありがとうございます。</p>
    <br>
    <h3>どんなアプリ？</h3>
    <hr>
    <p>社内での情報共有と自身の数値管理を行うサービスです。</p>
    <br>
    <h3>機能について</h3>
    <hr>
    <ul　style="padding-left:2em;">
      <li>週報機能</li>
        <ul>
          <li>１週間の成果、次週への課題、目標を記入してください</li>
        </ul>
      <li>ファボ機能</li>
        <ul>
          <li>気に入った記事にファボすることで、後から簡単に見直すことができます</li>
          <li>いい週報には積極的にファボしていきましょう</li>
        </ul>
      <li>コメント機能</li>
      <li>検索機能</li>
        <ul>
          <li>気になるキーワードや社員を検索することができます</li>
        </ul>
      <li>数値管理機能</li>
      <li>売上入力</li>
      <ul>
          <li>日々の売上を入力してください</li>
        </ul>
      <li>グラフ表示</li>
      <ul>
        <li>入力した売上がグラフとして表示されます</li>
      </ul>
    </ul>
</div>

