<% provide(:title, "About") %>
<h1>About</h1>
<div class="container">
  <div class="content-wrapper" style="padding:20px;">
    <p>GOOW Ver1.0をご利用いただきありがとうございます。</p>
    <br>
    <h3>どんなアプリ？</h3>
    <hr>
    <p>社内での情報共有と自身の数値管理を行うサービスです。</p>
    <br>
    <h3>機能について</h3>
    <hr>
    <h4>共有機能</h4>
    <ul style="padding-left:2em;">
      <li>週報機能</li>
        <span>１週間の成果、次週への課題、目標を記入してください。</span>
      <li>ファボ機能</li>
        <span>気に入った記事にファボすることで、後から簡単に見直すことができます。</span><br>
        <span>いい週報には積極的にファボしていきましょう。</span>
      <li>コメント機能</li>
        <p>疑問点等気軽に仲間に聞いてみましょう。</p>
      <li>検索機能</li>
        <span>気になるキーワードや社員を検索することができます。</span>
        </ul>
    <h4>個人機能</h4>
    <ul style="padding-left:2em;">
      <li>数値管理機能</li>
        <span>売上入力：日々の売上を入力してください。</span><br>
        <span>グラフ表示：入力した売上がグラフとして表示されます。</span><br>
        <span>数値管理：各数値を計算し目標達成のためにあります。<br>特に進捗率によってアイコンが変わりますので毎日数値入力して日々の努力を視覚的に確認してください。」</span>
        <span>
    </ul>
</div>

